{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load utils %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <center><h1>{% trans "Password Reset" %}</h1></center>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% settings_value "STATIC_KEYS_TEMPLATES" as static_values %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us at{% endblocktrans %} {{ static_values.email|urlize }} {% blocktrans %} if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
