{% if compact %}
<h3>{{ item_type.name }}</h3>
<div class="hw-quantity">
    <span>{{ item_type.get_available_count }}</span>
    <span>/</span> 
    <span>{{ item_type.get_requested_count }}</span>
    <span>/</span>
    <span>{{ item_type.get_lent_count }}</span>
</div>
{% else %}
<img src='{{ item_type.image.url }}' />
<div>
    <h1>{{ item_type.name }}</h1>
    <p>{{ item_type.description }}</p>
    <div>
        <div>{{ item_type.get_available_count }} Available</div>
        <div>{{ item_type.get_requested_count }} Requested</div>
        <div>{{ item_type.get_lent_count }} Lent</div>
    </div>
    {% if item_type.id in requests %}
        <button class='hw-req-btn' data-item-id='{{ item_type.id }}' disabled data-target-time='{{requests|get_item:item_type.id}}'>Request</button>
    {% else %}
        <button class='hw-req-btn' data-item-id='{{ item_type.id }}'>Request</button>
    {% endif %}
</div>
{% endif %}